MyWCF/MyWCF.WebRefClient/Service References/Contract2/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="MyWCF" elementFormDefault="qualified" targetNamespace="MyWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8779/MyWCF/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SayHelloTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayHelloToResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloToEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="names" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloToExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayHelloToExResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>