MyWCF/MyWCF.WebRefClient/Service References/Contract2/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="MyWCF" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="MyWCF" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="MyWCF/Imports">
      <xsd:import schemaLocation="http://localhost:8779/MyWCF/?xsd=xsd0" namespace="MyWCF" />
      <xsd:import schemaLocation="http://localhost:8779/MyWCF/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8779/MyWCF/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldService_SayHelloTo_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloTo" />
  </wsdl:message>
  <wsdl:message name="HelloWorldService_SayHelloTo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloToResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldExService_SayHelloToEx_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloToEx" />
  </wsdl:message>
  <wsdl:message name="HelloWorldExService_SayHelloToEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloToExResponse" />
  </wsdl:message>
  <wsdl:portType name="HelloWorldService">
    <wsdl:operation name="SayHelloTo">
      <wsdl:input wsaw:Action="MyWCF/HelloWorldService/SayHelloTo" message="tns:HelloWorldService_SayHelloTo_InputMessage" />
      <wsdl:output wsaw:Action="MyWCF/HelloWorldService/SayHelloToResponse" message="tns:HelloWorldService_SayHelloTo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="HelloWorldExService">
    <wsdl:operation name="SayHelloTo">
      <wsdl:input wsaw:Action="MyWCF/HelloWorldService/SayHelloTo" message="tns:HelloWorldService_SayHelloTo_InputMessage" />
      <wsdl:output wsaw:Action="MyWCF/HelloWorldService/SayHelloToResponse" message="tns:HelloWorldService_SayHelloTo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SayHelloToEx">
      <wsdl:input wsaw:Action="MyWCF/HelloWorldExService/SayHelloToEx" message="tns:HelloWorldExService_SayHelloToEx_InputMessage" />
      <wsdl:output wsaw:Action="MyWCF/HelloWorldExService/SayHelloToExResponse" message="tns:HelloWorldExService_SayHelloToEx_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>